:root {
  --gray: rgb(54, 54, 54);
  --darkgray: rgb(40, 40, 40)
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7vh;
  background-color: var(--darkgray);
  color: white;
}
header h2 {
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 10px;
}
.nav {
  list-style: none;
  margin-right: 10px;
}
.nav li {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.4rem;
  color: rgb(155, 155, 155);
}
.presentation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: rgb(40, 40, 40);
  color: white;
}
.presentation figure img {
  width: 100%;
  height: 25%px;
}
.presentation__description {
  padding: 10px 5px;
}
.presentation__description h2 {
  font-size: 3rem;
  font-weight: 300;
  padding-bottom: 10px;
}
.presentation__description h3 {
  font-size: 1.8rem;
  font-weight: lighter;
}
.presentation__description p {
  padding: 10px 20px 10px 0;
  font-size: 1rem;
}
.presentation__description a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 132, 255);
}

.details-developer {
  width: 100%;
}
.skills {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.skills h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: lighter;
}
.skills__card {
  margin-bottom: 10px;
}
.skills__card--title {
  font-size: 1.2rem;
}
.skills__card--progress-bar {
  position: relative;
  height: 5px;
  border-radius: 5px;
  background-color: #f0f0f0;
}
.skills__card--progress-bar span {
  position: absolute;
  height: 5px;
  background-color: rgb(0, 183, 255);
}
.skill1 span {
  width: 100%;
}
.skill2 span {
  width: 60%;
}
.skill3 span {
  width: 80%;
}
.skill4 span {
  width: 70%;
}
.skill5 span {
  width: 95%;
}
.skill6 span {
  width: 85%;
}
.skill7 span {
  width: 90%;
}
.skill8 span {
  width: 80%;
}
.skill9 span {
  width: 70%;
}
.skill10 span {
  width: 85%;
}
.experience {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.experience__list {
  list-style: none;
}
.experience--title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: lighter;
  padding-bottom: 20px;
}
.experience__list--item {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;

}
.experience__list--item h2 {
  font-size: 2rem;
  font-weight: lighter;
}
.experience__item--year {
  font-size: 1.4rem;
}
.experience--know-more {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid white;
  padding: 5px;
  background-color: var(--darkgray);
}
.portfolio > h2 {
  padding: 10px 0;
  font-size: 2.5rem;
  text-align: center;
  color: white;
  font-weight: lighter;
}
.portfolio__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.portfolio__card {
  width: 90%;
  height: auto;
  padding-bottom: 20px;
  margin: 0 auto;
  background-color: white;

}
.portfolio__card img {
  width: 100%;
}
.portfolio__card-description {
  padding: 10px;
}
.portfolio__card-description h2 {
  padding-bottom: 5px;
  font-size: 2rem;
  font-weight: lighter;
}
.portfolio__card-description p {
  font-size: 1.2rem;
  padding-bottom: 10px;
}
.portfolio__card-description a {
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 183, 255);
}
.portfolio--more-projects {
  margin: 15px auto 10px auto;
  padding: 5px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  outline: none;
}
footer {
  display: flex;
  width: 100%;
  height: 15vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--darkgray);
  color: white;
}
.footer--title {
  font-size: 2rem;
  font-weight: lighter;
  padding: 5px 0;
}
footer p {
  font-size: 1.2rem;
  padding-bottom: 5px;
}